<!doctype html>
<html lang="pt-BR" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>muito gostoso ;)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="sticky-footer-navbar.css" rel="stylesheet">
    <link rel="icon" href="img/man-cook_1f468-200d-1f373.ico">
</head>

<body class="d-flex flex-column h-100">
    <section class="header">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #15b7b9;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">muito gostoso</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/cadastro-receitas">Envie sua receita</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/show">Receitas enviadas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <section id="main">
        <div class="container-fluid">
            <h1 class="receita-title" style="text-align: center;">Receita Pudim de Leite em Pó</h1>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="py-3 receita-intrucoes">
                        <div style="text-align: center;">
                            
                            <h3 class="py-3">Ingredientes</h3>
                            <ul class="list-group">
                                <li class="list-group-item"><b>Pudim:</b></li>
                                <li class="list-group-item">3 ovos inteiros</li>
                                <li class="list-group-item">1 xícara de leite (240ml)</li>
                                <li class="list-group-item">1 xícara de leite em pó (130g)</li>
                                <li class="list-group-item">1/2 xícara de açucar (100g)</li>
                                <li class="list-group-item"><b>Calda:</b></li>
                                <li class="list-group-item">1 1/2 xícaras de açúcar (300g)</li>
                                <li class="list-group-item">1/2 xícara de água (120ml)</li>
                            </ul>
                        </div>

                        <div style="text-align: center;">
                            <h3 class="py-3">Modo de preparo</h3>
                            <ol class="list-group">
                                <li class="list-group-item"><b>Calda:</b></li>
                                <li class="list-group-item">Na forma de pudim, coloque o açúcar e a água e misture delicadamente sem espalhar nas laterais 
                                    e deixe caramelizar em fogo médio até que o caramelo fique na cor âmbar e bem brilhante.</li>
                                <li class="list-group-item">Quando chegar no ponto, transfira a calda para uma forma com furo central (22cm) e espalhe pelo fundo e laterais da forma.
                                    Reserve e deixe esfriar completamente.</li>
                                <li class="list-group-item"><b>Pudim:</b></li>
                                <li class="list-group-item">No liquidificador bata os ovos, a água, o leite,
                                     o leite em pó e o açúcar por cerca de 3 minutos ou até que tudo se misture.</li>
                                <li class="list-group-item">Em uma panela coloque cerca de 2 dedos de água e por cima da água coloque a forma caramelada e já ligue o fogo.</li>
                                <li class="list-group-item">Na forma coloque o pudim e tampe a panela.</li>
                                <li class="list-group-item">Deixe cozinhar em fogo baixo por cerca de 30 minutos ou até que espetando seu pudim com um palito você perceba que ele está firme.</li>
                                <li class="list-group-item">Quando chegar no ponto, deixe esfriar completamente e desenforme cuidadosamente.</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div>
                        <img class="img-fluid receita-img rounded" src="img/pudim_de_leite_que_nao_vai_ao_forno_6035_600_square.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <p><strong>muito gostoso - all rights reserved Ⓒ 2022</strong></p>
        </div>
    </footer>

    <script src="js/js.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>